.App {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
